{% extends 'base.html' %}

{% block content %}
	<h1>Flask-Milligram Example Application</h1>
	<ul>
		<li><a href="{{ url_for('test_nav') }}">Navigation</a></li>
		<li><a href="{{ url_for('test_pagination') }}">Pagination</a></li>
		<li><a href="{{ url_for('test_badge') }}">Badge</a></li>
		<li><a href="https://flask-milligram.readthedocs.io/" target="_blank">Documentation</a></li>
		<li><a href="https://milligram.io/" target="_blank">Milligram Documentation</a></li>
		<li><a href="https://github.com/ImJuanan/flask-milligram" target="_blank">GitHub</a></li>
	</ul>
{% endblock %}
